@import "open-props/style";
@import "open-props/normalize";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: white;
  color:white;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.root {
  display: flex;
  flex-direction: column;
}

header {
    background-color: var(--gray-9);
    padding: var(--size-3);
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: var(--size-10);
    margin-bottom: var(--size-8);
    box-shadow: var(--shadow-3);
}

header>h3 {
  font-family: var(--font-mono);
  font-size: var(--size-fluid-4);
  padding-left: 6rem;
  
}

@media (max-width: 650px) {
  header>h3 {
    display: flex;
    justify-self: start;
    padding-left: 0rem;
  }

}

.search {
  border: 2px solid white;
  border-radius: var(--size-8);
  font-family: inherit;
  font-size: var(--font-size-1);
  background-color: transparent;
  color: white;
  padding: var(--size-2) var(--size-3);
  width: var(--size-13);

}

@media (max-width: 450px ) {
  .search {
    width: 8rem;
  }
}

.search:focus {
  outline: none;
}

.movie-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.movie {
    background-color: var(--gray-9);
    margin: var(--size-3);
    width: var(--size-14);
    border-radius: 4px;
    box-shadow: 3px 3px 5px rbga(0,0,0,0.1);
    overflow: hidden;
    position: relative;
    box-shadow: var(--shadow-2)
}

.movie img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.movie-info {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  align-items: center;
  
}

.movie-info h3 {
  margin: 0;
  font-size: var(--font-size-0);
  padding: .6rem;
}

.movie__star {
  display: flex;  
  justify-content: center;
  align-items: center;
}

svg {
  
  color: var(--yellow-5);
  font-size: var(--size-4)
}

.movie-over {
  background-color: var(--gray-7);
  border-top-left-radius: var(--radius-1);
  border-top-right-radius: var(--radius-1);
  position: absolute;
  box-shadow: 0px -3px 5px rbga(0,0,0,0.1);
  color: white;
  padding: var(--size-3);
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  max-height: 100%;
  transform: translateY(102%);
  transition: transform 0.3s var(--ease-in-out-4);
 
}

.movie-over h2 {
  color: var(--gray-9);
  font-size: var(--font-size-5);
  padding-bottom: var(--size-2);
}

.movie-over p {
  font-size: var(--font-size-0);
}

.movie:hover .movie-over {
  transform: translateY(0%);
}

.tag {

  padding: var(--size-1);
  font-weight: bold;
  
}

.tag.green {
  color: var(--green-5);
}

.tag.orange {
  color: var(--yellow-5);
}

.tag.red {
  color: var(--red-5);
}

.copyright {
  color: black;
  display: flex;
  align-items: center;
  justify-content:center;
}

.copyright p {
  font-size: var(--font-size-1);
  padding: var(--size-6) 0;
  color: var(--gray-6)
}